<div class="golf-form">
  <%= simple_form_for round do |f| %>
    <%= f.input :course, required: true %>
    <%= f.input :rating, required: true %>
    <%= f.input :slope, required: true %>
    <%= f.input :score, required: true %>
    <%= f.button :submit %>
  <% end %>
</div>