<div class="golf-navbar">
  <%= link_to destroy_user_session_path, method: :delete, :class => 'golf-navbar__action' do %>
    Logout
  <% end %>
  <div class="golf-navbar__body">
    <%= link_to current_user.email, edit_user_registration_path, :class => 'golf-navbar__user' %>
    <h2 class="golf-navbar__stat"><%= @handicamp %></h2>
  </div>
</div>

<div class="golf-content">
  <table class="golf-table">
    <thead>
      <tr class="golf-table__row">
        <th class="golf-table__label"><h2 class="golf-table__title">Rounds</h2></th>
        <th>Rating</th>
        <th>Slope</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @rounds.each do |round| %>
        <tr class="golf-table__row">
          <td class="golf-table__label"><%= link_to round.course, edit_round_path(round) %></td>
          <td><%= round.rating %></td>
          <td><%= round.slope %></td>
          <td><strong><%= round.score %></strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to new_round_path, class: "golf-content__action" do %>
    <i class="fas fa-plus"></i> Add Round
  <% end %>
</div>
